:root {
  --edoctar: #51b8f1;
}

/*  #region Loading Button */
/*  Loading Button  */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Loading Button  */
/*  #endregion Loading Button */

/* region ChatBox */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;  
}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* New */
.chat {
  width: 85%;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  max-width: 400px;
}

.msg_card_body::-webkit-scrollbar {
  width: 10px;
}

.msg_card_body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Track */
.msg_card_body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle on hover */
.msg_card_body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: var(--edoctar) !important;
  opacity: 0.9;  
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: auto;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {  
  border: 0 !important;
  color: black !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
/* .active {
  background-color: rgba(0, 0, 0, 0.3);
} */
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

#open-button{
  height: 3%;
  width: 3%;
  max-height: 70px;
  max-width: 70px;
  border: none;
  cursor: pointer;  
  position: fixed;
  bottom: 113px;
  right: 62px;
  background-color: transparent;
  outline: none;  
}

#open-button .notif_chat{
  position: absolute;
  left: 50px;
  top: 0;
}

.img_cont {    
  height: 70px;
  width: 70px;    
  position: relative;    
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span {
  font-size: 20px;
  color: white;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
  background-color: var(--gray-dark);
}
#closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

/* endregion ChatBox */

body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.bg-edoctar {
  background: #51b8f1 !important;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #36404b;
}

.logo-navbar {
  margin: 0;
  height: 40px;
  float: left;
  padding-right: 8px;
}

.logo-footer {
  margin: 0;
  height: 40px;
  padding-right: 8px;
}

.btn-round {
  border: none;
  border-radius: 50%;
  line-height: 39px;
  width: 38px;
  height: 38px;
  text-align: center;
  margin-left: 1rem;
}

.btn-round.disabled {
  background: #757575;
  color: white;
}

.btn-round.disabled:hover {
  background: #757575;
  color: white;
}

.action-button {
  background: #00c851;
  color: white;
  position: relative;
}

.action-button:hover {
  background: white;
  color: #00c851;
}

.action-button.active {
  background: white;
  color: #00c851;
}

.action-button.active:hover {
  background: #00c851;
  color: white;
}

.leave-button {
  background: #ff4444;
  color: white;
}

.leave-button:hover {
  background: white;
  color: #ff4444;
}

.copy-button {
  background: #2e2e2e;
  color: white;
}

.copy-button:hover {
  background: #ffffff;
  color: #2e2e2e;
}

.copy-button.active {
  background: #ffffff;
  color: #2e2e2e;
}

.copy-button.active:hover {
  background: #2e2e2e;
  color: white;
}

@media screen and (max-width: 991px) {
  #publisher video {
    height: 100%;
  }
  #publisher video.video4 {
    width: 50%;
  }
  #publisher .video1 {
    width: 100%;
  }
  #publisher.video2 {
    height: 50%;
  }
  #publisher.video3 {
    height: 33%;
  }
  #publisher.video4 {
    height: 50%;
    width: 33%;
  }
  #publisher.videoMore {
    height: 33%;
    width: 50%;
  }
  .video2 {
    height: 50%;
    min-width: 100%;
  }
  .video3 {
    height: 33%;
    min-width: 100%;
  }
  .video4 {
    height: 50%;
    width: 50%;
    min-width: 50%;
  }
  .videoMore {
    height: 33%;
    width: 50%;
    min-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    justify-content: center !important;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .navbar-nav {
    justify-content: flex-end !important;
    flex-direction: row !important;
  }
}

.cover {
  padding: 0 1.5rem;
}

.cover-container {
  padding: 1.5rem;
  max-width: 42em;
  border: 2px solid #51b8f1;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: row;
  overflow-x: hidden;
}

.cover-heading {
  text-align: center;
}

.sessions {
  flex: 10;
  width: 100%;
  height: 100%;
}

#session {
  background: #2e2e2e;
  width: 100%;
  display: none;
}

#session-header {
  margin-bottom: 20px;
}

#session-title {
  display: inline-block;
}

#buttonLeaveSession {
  float: right;
  margin-top: 20px;
}

#video-container video {
  position: relative;
  float: left;
  width: 50%;
  cursor: pointer;
}

#video-container div {
  float: left;
  width: 50%;
  position: relative;
  margin-left: -50%;
}

#video-container p {
  display: inline-block;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

video {
  width: 100%;
  height: auto;
}

#main-video p {
  position: absolute;
  display: inline-block;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 22px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

#session img {
  width: 100%;
  height: auto;
  display: inline-block;
  object-fit: contain;
  vertical-align: baseline;
}

#session #video-container img {
  position: relative;
  float: left;
  width: 50%;
  cursor: pointer;
  object-fit: cover;
  height: 180px;
}

#publisher {
  height: 100%;
  min-width: 33%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#subscriber video {
  padding: 0;
}

.no-margin {
  margin: 0;
}

#videos {
  flex: 1;
  display: flex;
  min-height: 200px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

video {
  min-width: 33%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bluring {
  display: none;
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90000;
  flex-direction: column;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.bluring > * {
  margin: auto;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.bluring-container > * {
  margin: auto;
}

.bluring-text {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

nav.bg-edoctar > div {
  flex: 1 1 60%;
}

#copy-input {
  max-width: 80%;
  margin: auto;
}

.action-button > span.record-counter {
  font-size: 10px;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: -26px;
  font-weight: 600;
  display: flex;
  align-content: center;
  align-items: center;
}

.action-button > span.record-counter.active {
  color: #ff4444;
}

li[data-action].active {
  color: #ff4444 !important;
}

li[data-action].active:hover {
  background: #ff4444 !important;
  color: white !important;
}

.navbar{
  padding: 0.8rem 1rem !important;
}
